.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px;
}

.header__logo a {
    text-decoration: none;
}

.header__logo h4 {
    padding-left: 10px;
    font-weight: 700;
    font-size: 48px;
    /* text-transform: uppercase; */
    font-family: var(--sarina);
    opacity: 0.8;
    color: var(--baby-blue);
    z-index: 5;
}

.header__menu {
    padding: 20px;
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    list-style: none;
}

.header__menu li {
    font-weight: 500;
    font-family: var(--sarina);
    font-size: 16px;
    /* text-transform: uppercase; */
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.header__menu a {
    text-decoration: none;
    color: var(--white);
}

.header__menu a:hover {
    
    color: var(--baby-blue);
}

.header__menu a.active {
    color: var(--dusty-blue);
}